In [1]:
import pandas as pd

melbourn_file_path = 'C:/Users/Bartosz Baszniak/Desktop/Python/Data/melb_data.csv'
melbourn_data = pd.read_csv(melbourn_file_path)

In [4]:
melbourn_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [6]:
print(melbourn_data.columns)
melbourn_data = melbourn_data.dropna(axis = 0)

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [17]:
y = melbourn_data.Price

melbourn_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']
X = melbourn_data[melbourn_features]
print(X.describe())
X.head()

             Rooms     Bathroom      Landsize  BuildingArea    YearBuilt  \
count  6196.000000  6196.000000   6196.000000   6196.000000  6196.000000
mean      2.931407     1.576340    471.006940    141.568645  1964.081988
std       0.971079     0.711362    897.449881     90.834824    38.105673
min       1.000000     1.000000      0.000000      0.000000  1196.000000
25%       2.000000     1.000000    152.000000     91.000000  1940.000000
50%       3.000000     1.000000    373.000000    124.000000  1970.000000
75%       4.000000     2.000000    628.000000    170.000000  2000.000000
max       8.000000     8.000000  37000.000000   3112.000000  2018.000000

         Lattitude   Longtitude
count  6196.000000  6196.000000
mean    -37.807904   144.990201
std       0.075850     0.099165
min     -38.164920   144.542370
25%     -37.855438   144.926198
50%     -37.802250   144.995800
75%     -37.758200   145.052700
max     -37.457090   145.526350

   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954

In [18]:
from sklearn.tree import DecisionTreeRegressor

melbourn_model = DecisionTreeRegressor(random_state = 1)
melbourn_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

### sprawdzenie model - problem Å¼e narazie nie mamy rodzielonego na treningowe i testowewiec troche bezsensu

In [19]:
print(X.head())
print(melbourn_model.predict(X[0:5]))
print(y.head())

   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954
[1035000. 1465000. 1600000. 1876000. 1636000.]
1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

In [20]:
from sklearn.metrics import mean_absolute_error

predict_home_prices = melbourn_model.predict(X)
mean_absolute_error(y, predict_home_prices)

434.71594577146544

### Poprawna wersja czyli podziaÅ‚ na zbiÃ³r testowy i treningowy

In [33]:
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, test_y = train_test_split(melbourn_data[melbourn_features], melbourn_data.Price, random_state = 0)

training_X.head()

melbourn_model_splited = DecisionTreeRegressor(random_state=1)
melbourn_model_splited.fit(train_X, train_y)

predict_home_prices_splited = melbourn_model_splited.predict(test_X)
print(f"MAE: {mean_absolute_error(test_y, predict_home_prices_splited)}")

MAE: 262494.3027759845

### welkoÅ›Ä‡ drzewa - iloÅ›Ä‡ 'liÅ›ci' - sprawdzamy dla jakiego parametru max_leaf_nodes dostaniemy najlepszy wynik

In [40]:
def get_mae(max_leaf_nodes, train_X, test_X, train_y, test_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    model_pred = model.predict(test_X)
    return mean_absolute_error(test_y, model_pred)

In [47]:
max_leaf = [5,10,50,100,200,500, 700, 800, 1000, 1500]

for i in max_leaf:
    a = get_mae(i, train_X, test_X, train_y, test_y)
    print(f'MAE for {i} : {a}')

MAE for 5 : 347380.33833344496
MAE for 10 : 317645.7304308133
MAE for 50 : 258171.21202406782
MAE for 100 : 248734.2321681268
MAE for 200 : 250797.01228319408
MAE for 500 : 243495.96361790417
MAE for 700 : 242954.68571165035
MAE for 800 : 244042.74218692174
MAE for 1000 : 247345.74849135685
MAE for 1500 : 251550.93214620175

### Sprawdzenie jaki score da random forest - czyli funkcja ktÃ³ra uÅ¼ywa wielu rÃ³Å¼nych drzew o rÃ³znych parametrach i zlepia je w jeden

In [62]:
from sklearn.ensemble import RandomForestRegressor

RDF_model = RandomForestRegressor(random_state=0)
RDF_model.fit(train_X, train_y)
RDF_model_prediction = RDF_model.predict(test_X)

print(mean_absolute_error(test_y, RDF_model_prediction))

198552.91762427374

C:\Users\Bartosz Baszniak\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)